<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JavaScript DBMS</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-app="JDBMS" ng-controller="MainCtrl">


		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div style="height:100px;"></div>
					<h2><span class="fa fa-server"></span> JavaScript DBMS</h2>
					<p>An attempt to develop a Relational Database Management System as an AngularJS service, which can be integrated to web applications. Similar to <a href='http://www.taffydb.com/'>TaffyDB</a>.</p>
					<p>For ease of use, this page is developed with a Graphical User Interface for the DBMS operations.</p>	
					<br>
					<h2>Tables</h2>
					<br>				
					<div class="list-group">
					  <a href="#" ng-click="displayTable(table)" ng-repeat="table in data" class="list-group-item">{{table.name}}</a>				  
					</div>


					<h2>{{selectedTable.name}}</h2>

					<table class='table table-striped'>
					  <tr>
					  	<th ng-repeat="heading in selectedTable.schema">{{heading.field}}</th>					    
					  </tr>
					  <tr ng-repeat="data in selectedTable.data" ng-show="shouldDisplay(data)">
					    <td ng-repeat="value in data">{{value}}</td>					    
					  </tr>			  
					</table>
					<div ng-show='selectedTable'>
						<h2>Select</h2>
						<input class="form-control" type='text' ng-model='constraint'> 
						<br>
						<button class='btn btn-success' ng-click='applyConstraint(constraint)'>Apply</button>

						<h2>Insert</h2>
						<input class="form-control" type="text" ng-model="tupleToInsert"><br/>
						<button class="btn btn-success" ng-click="insertTuple()">Insert</button>
					</div>
				</div>

			</div>
			<div style="height:40px;"></div>

		</div>
	</body>
</html>